.project-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 100px;
    max-width: 100%;
    margin: 0 auto;
    background: linear-gradient(to right, #222, #444);
    color: white;
    height: 80vh;
  }
  
  .project-text {
    flex: 1;
    padding-right: 50px;
    max-width: 50%;
  }
  
  .project-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .project-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .project-text ul {
    list-style: disc;
    padding-left: 20px;
    font-size: 1rem;
  }
  
  .project-text ul li {
    margin-bottom: 15px;
  }
  
  .project-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 45%;
  }
  
  .project-image img {
    max-width: 100%;
    height: auto;
    border-radius: 0;
    object-fit: cover;
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    .project-section {
      flex-direction: column;
      text-align: center;
      height: auto;
      padding: 20px;
    }
  
    .project-text {
      padding-right: 0;
      max-width: 100%;
      margin-bottom: 20px;
    }
  
    .project-image {
      max-width: 80%;
    }
  
    .project-text h2 {
      font-size: 1.5rem;
    }
  
    .project-text p {
      font-size: 1rem;
    }
  
    .project-text ul {
      padding-left: 0;
    }
  
    .project-image img {
      max-height: 300px;
    }
  }
  